body.white{
    background: #ffffff;
}
#stories .story .wrapper .counter{
    left: 50%;
    transform: translateX(-50%);
}
#stories .story .wrapper .text .date {
    text-align: center;
}
#stories .story .wrapper h3{
    text-align: center;
    font-size: 3rem;
}
.bottom-wrapper{
    width: calc(100% - 30px);
    max-width: 1000px;
    padding: 0px 25px 75px 25px;
    margin: 0px auto;
    position: relative;
    text-align: center;
}
.bottom-wrapper ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 0;
    margin-top: 0;
}
.bottom-wrapper ul.latest{
    display: block;
    margin-bottom: 3rem;
}
.bottom-wrapper ul.latest li{
    position: relative;
    margin-bottom: 1.5rem;
}
.bottom-wrapper ul.latest .thumb{
    margin: 0 auto;
    height: 320px;
    width: 100%;
    max-width: 380px;
    background-position: center;
    background-size: 200% auto;
    border: 1px solid #e4e4e4;
    /* background-blend-mode: luminosity; */
    background-color: #d3c494;
    border-radius: 9px;
}
.bottom-wrapper ul.latest li p{
    margin: 0;
    color: brown;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: -16px;
    background-color: #f3f4ef;
    padding: 10px 15px;
    border-radius: 8px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
}
.bottom-wrapper ul.latest li p span{
    color: var(--darkerColor);
}
.bottom-wrapper ul.latest li p a{
    font-size: 13px;
    text-decoration: none;
}
.bottom-wrapper ul li{
    margin: 5px;
    padding: 3px 6px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    font-weight: 700;
}
.bottom-wrapper ul.numbers li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    font-weight: 700;
}
h5{
    margin-bottom: 0;
}