h3{
    font-family: "Cormorant Garamond", serif;
    font-size: 1.8em;
    color: var(--darkerColor);
    text-align: center;
    margin: 4rem auto 2rem auto;
}
p.desc{
    max-width: 580px;
    margin: 0 auto;
    width: calc(100% - 26px);
    padding: 0 15px 30px 15px;
    text-wrap: auto;
    font-size: 20px;
    line-height: 1.6;
}

.visual{
    margin: 0 auto 2rem auto;
    height: auto;
    width: 100%;
    position: relative;
}
.visual.size-1200{
    max-width: 1200px;
}
.visual.size-820{
    max-width: 820px;
}
.visual.size-620{
    max-width: 620px;
}
.visual.size-420{
    max-width: 420px;
}
.visual.size-320{
    max-width: 320px;
}
.visual img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.visual.blending img{
    mix-blend-mode: multiply;
}
.btn_flat{
    text-align: center;
    padding-top: 35px;
    font-family: "Roboto", serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    color: var(--brickColor);
    padding: 15px 50px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    background-color: var(--softColor);
    border-radius: 5px;
    border: none;
}
@media screen and (max-width: 600px) {
    main{
        padding-left: 20px;
        padding-right: 40px;
    }
}