h3{
    font-family: "Cormorant Garamond", serif;
    font-size: 1.8em;
    color: var(--darkerColor);
    text-align: center;
    margin: 4rem auto 2rem auto;
}
p.desc{
    max-width: 580px;
    margin: 0 auto;
    width: calc(100% - 26px);
    padding: 0 15px 30px 15px;
    text-wrap: auto;
    font-size: 20px;
    line-height: 1.6;
}
#slot_machines {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.visual{
    margin: 0 auto 2rem auto;
    height: auto;
    width: 100%;
    position: relative;
}
.visual.size-1200{
    max-width: 1200px;
}
.visual.size-620{
    max-width: 620px;
}
.visual.size-320{
    max-width: 320px;
}
.visual img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.visual.blending img{
    mix-blend-mode: multiply;
}
#slot_machines .slot_machine {
    width: 100%;
    max-width: 320px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #b4a98f;
    overflow: hidden;
    position: relative;
    margin: 10px aut 0 auto;
    flex-wrap: nowrap;
}
#slot_machines .slot_machine::before{
    content: ' ';
    width: 100%;
    height: 50px;
    background-color: var(--bgColor);
    border-bottom: 2px solid #b4a98f;
    position: absolute;
    top: 0;
    left: 0;
}
#slot_machines .slot_machine .slot {
    width: 100px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-out;
}

#slot_machines .slot_machine .counter {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
    font-family: "Cormorant Garamond", serif;
    color: var(--darkerColor);
    position: absolute;
    top: 0;
    left: 0;
}

#slot_machines .slot_machine .counter p {
    margin: 0;
}
.btn_flat{
    text-align: center;
    padding-top: 35px;
    font-family: "Roboto", serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    margin: 0 auto;
    color: var(--brickColor);
    padding: 15px 50px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    background-color: var(--softColor);
    border-radius: 5px;
    border: none;
}
#custom_bug{
    text-align: center;
}
#custom_bug .bug{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: -11px;
}
#custom_bug h4{
    margin: 0 auto;
    text-align: center;
}
#custom_bug p{
    margin: 5px auto 15px auto;
    text-align: center;
    font-size: 1em;
    width: 200px;
    line-height: 1;
}
#custom_bug .bug-size{
    font-size: large;
    color: var(--darkerColor);
    text-decoration: underline;
    font-style: italic;
}
#custom_bug .bugName{
    font-weight: bold;
    font-style: italic;
    color: var(--darkerColor);
}
#custom_bug img.blend01{
    mix-blend-mode: difference;
}
#custom_bug img.blend02{
    mix-blend-mode: luminosity;
}
#custom_bug img.blend03{
    mix-blend-mode: color-burn;
}
#custom_bug img.blend04{
    mix-blend-mode: normal;
}